.text-uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.rounded {
  border-radius: 100%;
}

.img-responsive {
  display: block;
  width: 100%;
}

.shadow {
  box-shadow: 0 7px 72px 0 rgba(0, 0, 0, 0.18);
}