#about{
    .container{
        .row{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            figure{
                width: 180px;
                height: 180px;
                margin: 0;
            }
        }
    }
}