#home{
    padding: unset;
    background-color: unset;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    .container{
        height: 100vh;
        .row{
            .home-title{
                h3, h2{
                    font-weight: 300;
                    margin: 0;
                }
                h3{
                    margin-top: 3em;
                    margin-bottom: .5em;
                }
            }
            .home-job{
                a{
                    text-decoration: underline;
                }
            }
        }
    }
}
.bg-fixed
{
    background-image: url('../../assets/images/bg.jpg');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position:  center;
}