.btn {
  padding: 15px 30px;
  border: solid 3px $black;
  font-weight: 600;
  transition: color .3s ease-in-out, background-color .3s ease-in-out;
  background-color: unset;
  font-size: 16px;
  outline: none;
  cursor: pointer;
  text-align: center;
  line-height: 1.4;
}

.btn:hover {
  background-color: $black;
  color: $white;
}